.formula-section {
  background: url("Assets/images/dirt.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formula-main-container {
  min-height: 30em;
  background-color: limegreen;
  display: flex;
  justify-content: space-around;
  user-select: none;
}
.potion-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-align: center;
}
.potion-container img {
  display: block;
  width: 70px;
  height: 100px;
  margin-top: 1em;
}
.formula-potion-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formula-potion-heading {
  display: flex;
  flex-direction: column;
}
.formulas {
  display: flex;
  flex-direction: column;
}

.formula-button {
  width: 6em;
  min-height: 2em;
  margin: 2em 0;
  background-color: yellowgreen;
  border-radius: 1em;
  transition: box-shadow 0.2s, transform 0.2s, rotate 1s;
  padding: 0.8em 2em;
}
.formula-button-1 {
  box-shadow: -4px 4px 0 black;
}
.formula-button-2 {
  box-shadow: 0px 4px 0 black;
}
.formula-button-3 {
  box-shadow: 4px 4px 0 black;
}
.formula-button:active {
  box-shadow: 0 0 0 black;
}
.formula-button-1:active {
  transform: translate(-4px, 4px);
}
.formula-button-2:active {
  transform: translate(0px, 4px);
}
.formula-button-3:active {
  transform: translate(4px, 4px);
}
.formulas-results-inputs {
  background-color: lightgreen;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em;
}
.formula-sub-heading {
  font-size: 1em;
  margin-top: 2em;
}
.formula-results,
.formula-inputs {
  background-color: blueviolet;
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 1em;
}
.formula-result {
  text-align: center;
}
