@font-face {
  font-family: "Knight";
  src: url("Assets/fonts/KnightWarrior.otf") format("truetype");
}
@font-face {
  font-family: "SuperPixel";
  src: url("Assets/fonts/SuperPixel.ttf") format("truetype");
}
*::selection {
  background-color: #5e047a;
  color: white;
}
body {
  cursor: url("Assets/images/wand_2.png"), auto;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url("Assets/images/brick_wall.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 1em;
  padding: 0;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(#18023f, #601fd2);
}
body::-webkit-scrollbar-thumb {
  min-height: 1em;
  background: transparent;
  background-image: url("Assets/images/bone.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 2px solid red; */
}
body::-webkit-scrollbar-button {
  display: none;
}
/* body::-webkit-scrollbar-button {
  background: #1a1122;
  border: 1px solid #4a1f96;
  height: 15px;
  transition: background 0.3s;
}
body::-webkit-scrollbar-button:hover {
  background: #3a0751;
} */
h1 {
  font-family: "Knight", sans-serif;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  color: white;
  text-shadow: 0 0 0.5rem black;
}
.quick-links-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url("Assets/images/shelf_background_test.png");
  background-size: contain;
  background-position: center;
  margin-bottom: 2em;
}
.links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.quick-links-container a {
  font-family: SuperPixel;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0.9rem;
  flex: 1;
  background-color: #4f230d;
  transition: color 0.7s, box-shadow 0.7s, border-radius 0.7s, filter 0.7s,
    border 0.7s;
  border-radius: 0;
  margin: 0;
  text-decoration: none;
  border: 2px solid black;
  border-width: 2px 3px;
  box-shadow: 0 1.5rem 5rem black;
  width: 1.5rem;
  height: 1.5rem;
  cursor: url("Assets/icons/candle.png"), auto;
}
.book1,
.book2,
.book3,
.book4 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.book1 {
  background-image: url("Assets/images/book1.png");
}
.book2 {
  background-image: url("Assets/images/book2.png");
}
.book3 {
  background-image: url("Assets/images/book3.png");
}
.book4 {
  background-image: url("Assets/images/book4.png");
}
.quick-links-container img {
  width: 2.3em;
  height: 2.3em;
  max-width: 100%;
  position: absolute;

  right: 2.5em;
}
.quick-links-container a:hover {
  border: 2px solid #4f230d;
  border-width: 2px 3px;
  border-radius: 0.5rem;
  box-shadow: none;
  filter: brightness(2);
}

@media (max-width: 768px) {
  .quick-links-container {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }

  .quick-links-container a {
    width: 80%;
    max-width: 300px;
    height: auto;
    padding: 1rem;
  }

  .quick-links-container img {
    margin: 0 auto;
  }
}
