@font-face {
  font-family: "Knight";
  src: url("Assets/fonts/KnightWarrior.otf") format("truetype");
}
@font-face {
  font-family: "SuperPixel";
  src: url("Assets/fonts/SuperPixel.ttf") format("truetype");
}
@font-face {
  font-family: "Belion";
  src: url("Assets/fonts/BelionRadego.otf") format("truetype");
}
@font-face {
  font-family: "Distropiax";
  src: url("Assets/fonts/Distropiax.ttf") format("truetype");
}
.global-vars {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.global-vars-head {
  margin-top: 1.5em;
}
.vars-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.age-container,
.measures-container,
.gender-container {
  background-color: #64399b;
  box-shadow: 0.1em 0.1em 0.5em black;
  width: 22em;
  height: 12.5em;
  padding: 15px 20px;
  border-radius: 1em;
  margin: 0 1.5em;
}
br {
  user-select: none;
}
.age-gender-container {
  height: 450px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1em;
}

/*===================================AGE===================================*/
h2 {
  text-align: center;
  font-family: Belion;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.age-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.age-range-container {
  font-family: Distropiax;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.age-range {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 8px;
  box-shadow: 0 0 5px black;
  background: linear-gradient(to right, #807d7d, #000);
  border-radius: 5px;
  outline: none;
}
.age-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}

.age-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}

h3 {
  font-family: Belion;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
h3 div {
  font-size: 2em;
}
.range-value {
  font-family: Distropiax;
  text-align: center;
  display: inline-block;
  min-width: 1.2em;
}
/*===================================MEASURES VARIABLES===================================*/
.measures-container {
  background-image: url(Assets/images/flex_boy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.measures-container > div {
  width: 100%;
  height: 3.2em;
  background-color: #803ed66b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.measure-title {
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  font-family: SuperPixel;
}

.measure-container input {
  width: 50%;
  padding: 0.2em;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.measure-container input:focus {
  border-color: #e30cf3;
}

.measure-container input::placeholder {
  color: #999;
  font-size: 1em;
}

.measure-container input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*===================================Gender===================================*/
.gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gender {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.choose-gender {
  padding: 0.5em;
  border-radius: 1em;
  color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3108686f;
}
.gender-label-male,
.gender-label-female {
  width: 3.5em;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
  transition: background 0.3s, color 0.5s;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  user-select: none;
}
.gender-label-male:hover {
  background-color: #aec6cf;
}
.gender-label-female:hover {
  background-color: #ffc5d3;
}
.gender-label-male:active {
  background-color: #002d6b;
}
.gender-label-female:active {
  background-color: #620175;
}
#female,
#male {
  display: none;
}
.gender-symbol {
  position: relative;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  border: 4px solid black;
  transition: border-color 0.7s;
}
.male-color {
  border-color: #aec6cf;
}
.female-color {
  border-color: #ffc5d3;
}
.gender-arrow {
  position: absolute;
  width: 4%;
  height: 3%;
  rotate: 45deg;
  background-color: transparent;
  top: -5%;
  right: -5%;
}
.arrow-head {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 12px 11px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  width: 4%;
  height: 3%;
  rotate: 45deg;
  background-color: transparent;
  top: -30%;
  right: -35%;
  transition: border-color 0.3s;
}
.female-cross {
  width: 4%;
  height: 70%;
  background-color: transparent;
  position: absolute;
  left: -25%;
  z-index: 10;
}
.gender-image {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto auto;
  visibility: hidden;
  transition: visibility 0.5s;
  border-radius: 100%;
}

.eye {
  position: absolute;
  font-size: 1.5em;
  width: fit-content;
  height: 20px;
  user-select: none;
  scale: 0;
}
.age-container,
.gender-container {
  width: 25em;
}
/*===================================Submit===================================*/
.gender-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.final-submit-container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  margin: 0 1.5em;
}
.submit-container {
  color: #fff;
  text-shadow: 0.3em 0.3em #000;
  width: 11em;
  height: 11em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba93e9;
  transition: filter 0.5s;
  user-select: none;
  background-image: url("Assets/images/soup2_test.jpg");
  border: 2px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: brightness(1) grayscale(1);
  cursor: not-allowed;
}
.submit-container-active {
  transition: filter 0.5s;
  filter: grayscale(0);
}
.submit-container-active:hover {
  filter: brightness(1.1);
}
.submit-container-inactive {
  cursor: not-allowed;
  filter: grayscale(1);
}
.submit-container span {
  font-family: Superpixel;
  font-size: 1.3em;
}
.submit-span {
  position: absolute;
  bottom: 10%;
}
.separator {
  position: absolute;
  margin-top: 3em;
  width: 100%;
  height: 2em;
  background: url("Assets/images/stairs.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
}
