.mind-reader {
  text-align: center;
  min-height: 60em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background: url("Assets/images/castle_wall.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  margin-top: 5em;
}
.tests-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: -16em;
}
.test {
  width: 100%;
  height: fit-content;
  /* min-height: 100%; */
  background-color: green;
  margin: 0.5em;
  border-radius: 1em;
  padding: 0 1em;
  box-shadow: 0.1em 0.1em 0.5em black;
}
.test h2 {
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 0em;
}
.test p {
  font-size: 1.5em;
  margin-top: 0;
}
.question {
  background-color: lightblue;
  padding: 0.2em 0.5em;
  margin: 0 0 1em;
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-radius: 1em;
}
.question label {
  font-size: 1.2em;
}
.GAD-range-container div,
.PHQ-range-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.mind-reader-results {
  text-align: center;
  width: 100%;
  height: fit-content;
  margin: 1em 0;
  background-color: blueviolet;
}
.GAD-range,
.PHQ-range {
  width: 10em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #807d7d, #000);
  border-radius: 1em;
  outline: none;
}
.GAD-range::-webkit-slider-thumb,
.PHQ-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
.GAD-range::-webkit-slider-thumb {
  background-color: #b064c3;
}
.PHQ-range::-webkit-slider-thumb {
  background-color: #6a7fdf;
}
.GAD-result-container,
.PHQ-result-container {
  background-color: black;
  padding: 0.6em;
  border-radius: 0 0 0.9em 0.9em;
  color: white;
  transition: color 0.3s, background 0.3s;
  border: 0.5px solid black;
}
.GAD-result-container:hover,
.PHQ-result-container:hover {
  background-color: lightgreen;
  color: black;
}
.PHQ-9 {
  visibility: hidden;
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 0;
}
.PHQ-9-positive {
  visibility: visible;
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 1;
}
.mind-read-results {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.test-score {
  /* display: block; */
  width: 17em;
  height: 8em;
  margin: 0.5em 0.5em;
}
.mind-read-header {
  position: relative;
  padding-top: 2em;
}
.main-question {
  width: 20em;
  height: 10em;
  padding: 0;
  border-radius: 15em;
  position: absolute;
  top: -6em;
  right: 20em;
}
#mind-read-title {
  margin: 0.6em 0 0 0;
}
.legend {
  display: flex;
  gap: 5em;
  align-items: center;
}
.orb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.orb {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 10em;
  max-height: 10em;
  user-select: none;
  -webkit-user-drag: none;
}
.orb-indicator-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: opacity 0.5s, background 0.5s;
  opacity: 0;
  position: relative;
  left: 0.8em;
}
.orb-classes {
  display: flex;
  justify-content: space-between;
}
.orb-classes span {
  position: relative;
  color: white;
  display: inline-block;
  z-index: 3;
  font-size: 1.1em;
  text-shadow: 5px 5px 5px #000;
}
.orb-indicator {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 0.7em;
  border-radius: 3em;
  background: linear-gradient(
    45deg,
    #b064c3,
    #670188,
    #280032,
    #768efa,
    #3a32d0,
    #040043
  );
  background-size: 400% 100%;
  background-position: 0% 0;
  transition: background-position 1s ease;
}
.orb-indicator-container-alt {
  visibility: visible;
  opacity: 1;
}
.orb-indicator-alt {
  background-position: 100% 0;
}
.frog {
  display: block;
  max-width: 13em;
  max-height: 13em;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  z-index: 1;
  top: -5em;
  left: -2.1em;
}
.separator-mind-reader {
  position: absolute;
  width: 100%;
  height: 2em;
  background: url("Assets/images/stairs.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
}

.copy,
.GAD-result,
.PHQ-result {
  margin: 1em 2em;
}
.copy-result-container {
  width: 100%;
  max-height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
