@font-face {
  font-family: "Knight";
  src: url("Assets/fonts/KnightWarrior.otf") format("truetype");
}
@font-face {
  font-family: "SuperPixel";
  src: url("Assets/fonts/SuperPixel.ttf") format("truetype");
}
@font-face {
  font-family: "Belion";
  src: url("Assets/fonts/BelionRadego.otf") format("truetype");
}
@font-face {
  font-family: "Distropiax";
  src: url("Assets/fonts/Distropiax.ttf") format("truetype");
}

.mind-reader {
  text-align: center;
  min-height: 60em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("Assets/images/castle_wall.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  margin-top: 5em;
}
.tests-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.test {
  width: 100%;
  height: fit-content;
  background-color: green;
  margin: 0.5em;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0.1em 0.1em 0.5em black;
}
.test p {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0;
}
.question {
  background-color: lightblue;
  padding: 1em 0.5em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-radius: 1em;
}
.question label {
  cursor: url("Assets/images/wand_2.png"), auto;
}
.mind-reader-results {
  text-align: center;
  width: 100%;
  height: fit-content;
  margin: 1em 0;
  background-color: blueviolet;
}
.GAD-range,
.PHQ-range {
  width: 10em;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: linear-gradient(to right, #807d7d, #000);
  border-radius: 5px;
  outline: none;
}
.GAD-range::-webkit-slider-thumb,
.PHQ-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.GAD-range::-webkit-slider-thumb {
  background-color: #b064c3;
}
.PHQ-range::-webkit-slider-thumb {
  background-color: #6a7fdf;
}
.GAD-result-container,
.PHQ-result-container {
  background-color: black;
  padding: 0.6em;
  border-radius: 0 0 0.9em 0.9em;
  color: white;
  transition: color 0.3s, background 0.3s;
  border: 0.5px solid black;
}
.GAD-result-container:hover,
.PHQ-result-container:hover {
  background-color: lightgreen;
  color: black;
}
.PHQ-9 {
  visibility: hidden;
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 0;
}
.PHQ-9-positive {
  visibility: visible;
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 1;
}
.mind-read-results {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.test-score,
.main-question {
  min-width: 200px;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.5em;
  padding: 0.5em;
  background-color: black;
  color: white;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
}
.main-question {
  font-size: 1.2em;
  padding: 1.2em;
}
#mind-read-head {
  margin: 0;
}
.legend {
  display: flex;
  gap: 5em;
  align-items: center;
}
.orb-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orb {
  display: block;
  max-width: 15em;
  max-height: 15em;
  user-select: none;
  -webkit-user-drag: none;
}
.frog {
  display: block;
  max-width: 15em;
  max-height: 15em;
  user-select: none;
  -webkit-user-drag: none;
}
