.global-vars {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.global-vars-head {
  margin-top: 1.5em;
}
.vars-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}
.age-container,
.measures-container,
.gender-container {
  background-color: #3e006dc5;
  /* background-color: #551586;  */
  /* background-color: #453076; */
  /* background-color: #9e597e; */
  /* background-color: #194601; */
  /* background-color: #de6d40; */
  /* background-color: #d09c48; */
  box-shadow: 0.1em 0.1em 0.5em black;
  width: 22em;
  height: 12.5em;
  padding: 15px 20px;
  border-radius: 1em;
  margin: 0 1.5em;
}
br {
  user-select: none;
}
.age-gender-container {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1em;
}

/*===================================AGE===================================*/
h2 {
  color: #e1e1e1;
  text-align: center;
  margin: 0 0 1em;
  font-size: 2em;
  font-weight: normal;
}
.age-container {
  color: #e1e1e1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.age-range-container {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.age-range {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 2em;
  box-shadow: 0 0 5px black;
  background: linear-gradient(to right, #807d7d, #000);
  border-radius: 2em;
  outline: none;
}
.age-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: linear-gradient(to left, #d2cdcd, #000);
  border-radius: 100% 100% 100% 100%;
}

.age-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}

h3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
h3 div {
  font-size: 1.6em;
  font-weight: lighter;
}
.range-value {
  text-align: center;
  display: inline-block;
  min-width: 1.2em;
}
/*===================================MEASURES VARIABLES===================================*/
.measures-container {
  background-image: url(Assets/images/flex_boy_new.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.measures-container > div {
  width: 100%;
  height: 4.2em;
  background-color: #7e56aa75;
  /* back
  ground-color: #2093154d; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
}

.measure-title {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 0.5px black;
}
.measure-container input {
  width: 50%;
  padding: 0.2em;
  font-size: 1.2em;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}
.measure-container input::-webkit-inner-spin-button,
.measure-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.measure-container input:focus {
  border-color: #000000;
}

.measure-container input::placeholder {
  color: #999;
  font-size: 1em;
}

.measure-container input {
  box-shadow: 0 2px 4px #0000001a;
}
/*===================================Gender===================================*/
.gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gender {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.choose-gender {
  padding: 0.5em;
  border-radius: 1em;
  color: white;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #dea53a; */
  background-color: #7e56aa75;
}
.gender-label-male-active {
  /* background-color: #aec6cf !important; */
  background-color: #355325 !important;
}
.gender-label-female-active {
  /* background-color: #ffc5d3 !important; */
  background-color: #a1527d !important;
}
.gender-label-male,
.gender-label-female {
  font-size: 1.4em;
  width: 3.5em;
  text-align: center;
  background-color: black;
  transition: background 0.3s, color 0.5s;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  user-select: none;
}
.gender-label-male:hover {
  /* background-color: #aec6cf; */
  background-color: #355325;
}
.gender-label-female:hover {
  /* background-color: #ffc5d3; */
  background-color: #a1527d;
}
.gender-label-male:active {
  /* background-color: #002d6b; */
  background-color: #285311;
}
.gender-label-female:active {
  /* background-color: #620175; */
  background-color: #863562;
}
#female,
#male {
  display: none;
}
.gender-symbol {
  position: relative;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  border: 4px solid black;
  transition: border-color 0.7s;
}
.male-color {
  /* border-color: #aec6cf; */
  border-color: #295511;
}
.female-color {
  /* border-color: #ffc5d3; */
  border-color: #863562;
}
.gender-arrow {
  position: absolute;
  width: 4%;
  height: 3%;
  rotate: 45deg;
  background-color: transparent;
  top: -5%;
  right: -5%;
}
.arrow-head {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 12px 11px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  width: 4%;
  height: 3%;
  rotate: 45deg;
  background-color: transparent;
  top: -30%;
  right: -35%;
  transition: border-color 0.3s;
}
.female-cross {
  width: 4%;
  height: 70%;
  background-color: transparent;
  position: absolute;
  left: -25%;
  z-index: 10;
}
.gender-image {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto auto;
  visibility: hidden;
  transition: visibility 0.5s;
  border-radius: 100%;
  user-select: none;
}

.eye {
  position: absolute;
  font-size: 1.5em;
  width: fit-content;
  height: 20px;
  user-select: none;
  scale: 0;
}
.age-container,
.gender-container {
  width: 25em;
}
/*===================================Submit===================================*/
.gender-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.final-submit-container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 10em;
  align-items: center;
  border-radius: 1em;
  margin: 0 1.5em;
}
.submit-container {
  color: #fff;
  text-shadow: 0.3em 0.3em #000;
  width: 11em;
  height: 11em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba93e9;
  transition: filter 0.5s;
  user-select: none;
  background-image: url("Assets/images/soup2_test.jpg");
  border: 2px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: brightness(1) grayscale(1);
  cursor: not-allowed;
}
.submit-container-active {
  transition: filter 0.5s;
  filter: grayscale(0);
}
.submit-container-active:hover {
  filter: brightness(1.1);
}
.submit-container-inactive {
  cursor: not-allowed;
  filter: grayscale(1);
}
.submit-container span {
  /* font-size: 1.3em; */
}
.submit-span {
  position: absolute;
  bottom: 10%;
  font-size: 2em;
  color: #e1e1e1;
}
.separator-global-vars {
  position: absolute;
  margin-top: 3em;
  width: 100%;
  height: 2em;
  background: url("Assets/images/stairs.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
}
.submit-indicator,
.submit-copy {
  font-size: 1.4em;
  text-align: center;
  color: #e1e1e1;
  padding: 1em;
  margin-top: 1em;
  background-color: #4e2d7a;
  box-shadow: 0.1em 0.1em 0.5em black;
  border-radius: 2em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, background 0.2s;
  max-width: 150px;
}
.submit-indicator-active,
.submit-copy-active {
  opacity: 1;
  visibility: visible;
}
.submit-copy:hover {
  background-color: #3e006dc5;
}
