.book-container {
  position: relative;
  width: 100%;
  max-width: 900px; /* Adjust as needed */
  aspect-ratio: 16 / 9; /* Adjust based on your image's aspect ratio */
  background: url("Assets/images/full_desk.webp") no-repeat center center;
  background-size: contain;
  margin: auto;
}

.left-page,
.right-page {
  position: absolute;
  top: 16%; /* Adjust to fit within the book pages */
  width: 30%;
  height: 54%; /* Adjust based on the book's page */
  background-color: rgba(255, 255, 255, 0.672); /* Slight transparency */
  /* padding: 10px; */
}

.left-page {
  left: 13%;
}

.right-page {
  right: 25%;
}
